<dl>
  <dt>User location</dt>
  <dd><%= @user_location %>></dd>

  <dt>Latitude</dt>
  <dd><%= @current_loc_lat %>></dd>

  <dt>Longitude</dt>
  <dd><%= @current_loc_lng %>></dd>

  <dt>Current temperature</dt>
  <dd><%= @current_loc_temp %>></dd>

  <dt>Current summary</dt>
  <dd><%= @current_loc_sum %>></dd>

  <dt>Umbrella?</dt>
  <dd><%= @current_loc_umbrella %>></dd>
</dl>

<a href="/umbrella">Go back</a>
